@media (max-width: 968px) {
    .hero-section {
        flex-direction: column-reverse;
        padding: 60px 20px;
    }

    .hero-content {
        text-align: center;
    }

    .pixel-logo-main,
    .subtitle-main,
    .hero-description {
        text-align: center;
    }

    .hero-image {
        flex: 1;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    /*.pixel-logo-main {
        font-size: 64px;
        }*/

    .subtitle-main {
        font-size: 20px;
    }

    .intro-section,
    .about1,
    .about2,
    .tech-details {
        padding: 40px 20px !important;
    }

    .command-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .downloadTableWrap {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .downloadTable {
        min-width: 680px;
    }

    .downloadButton {
        min-width: 120px;
        font-size: 14px;
        padding: 10px 14px;
    }
}

@media (max-width: 900px) {
    .firstwrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-section {
        text-align: center;
        padding: 40px 20px;
    }

    .first-image img {
        width: 250px;
        height: auto;
        border-radius: 0;
        margin-bottom: 30px;
    }

    .firsthighlight {
        text-align: left;
    }
}
